@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.root {
  backdrop-filter: blur(100px); /* Указываем степень размытия */
  -webkit-backdrop-filter: blur(10px); /* Для совместимости с Safari */
  margin: 20px 0px 0px 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 30px;
}
.root:hover {
  box-shadow: 0 0 15px #fdfef0;
  border: 1px #fdfef0 solid;
}

body {
  background-image: url("../bg/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.wrapper {
  max-width: 1470px;
  font-family: "Roboto", sans-serif;
  margin: 25px auto 0px auto;
  padding: 0px 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 0 15px #969a9e;
  border: 2px solid #969a9e;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #051822;
  color: #d4c9c7;
}
.header .logo {
  font-size: 40px;
}
.header .links {
  font-size: 22px;
  display: flex;
  grid-gap: 20px;
}
.header .links a {
  color: #d4c9c7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .links a:hover {
  color: #098698;
}

.form_anm {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.form_group {
  color: #d4c9c7;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}
.form_group input {
  padding: 10px;
  font-size: 20px;
  min-width: 300px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.form_group select {
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 20px;
}
.form_group a {
  display: none;
}

.btn_submit {
  height: 40px;
  width: 200px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 20px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn_submit:hover {
  background: #f00;
  color: #fdfef0;
}

.btn_submit_a {
  height: 40px;
  width: 200px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 20px;
  margin: 0px 0px 0px -110px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn_submit_a:hover {
  background: #f00;
  color: #fdfef0;
}

.left {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

textarea {
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
